html, body {height: 97%;
            width: 98%;
            vertical-align: middle;
        }

header, nav, article, aside, footer {
    border: 2px solid black;
    }

header { height: 13%;
            width: 100%;
            margin-bottom: 2%;
            background-color: rgb(248, 9, 9);
            align-items: center;
            display: flex;
            justify-content: center;
        }

nav { float: left;
        height: 5%;
        width: 100%;
        background-color: aqua;
        align-items: center;
        display: flex;
        justify-content: center;
    }

article {
            float: left;
            height:60%;
            width:70%;
            margin-top: 1.65%;
            }

section {
    background-color: bisque;
    overflow: hidden;
    height:100%;
}

aside {
    float: right;
    width:25%;
    height:50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1.65%;
}


section img {float: left;
                margin:2%;
            }

section p {text-align: justify;
                margin: 1%;
             }

footer {  
        float: left;
        height:13%;
        width: 100%;
        margin-top: 5%;
        background-color: coral;
        align-items: center;
        display: flex;
        justify-content: center;
    }
