#form {
    width: 800px;
    height:600px;
}

* {
    margin-bottom: 1px;
}

fieldset {
    float:left;
    border: none;
}

/* para que todos */
input, label, select {
    float: left;
    clear: left;
}

.rojo {
    color: red;
}

#mail {
    float: left;
    clear: left;
}

input#municipio, label[for=municipio]{
    clear:none;
    float: left;
    margin-left: 6%;
    width: 30%;
    }

label[for=municipio]{
    margin-left:11%;
}


select#pais, label[for=pais]{    
    clear:none;
    float: left;
    margin-left: 5%;
    width: 30%;
}

label[for=pais]{
    margin-left: 18%;
}

span {
    clear: left;
}

label {
    font-size: 0.7em;
    color: lightgrey;
}

input#movil, label[for=movil]{
    clear:none;
    float: left;
    margin-left: 5%;
    width: 30%;
    }

label[for=movil], #movil {
    margin-left: 50%;
}

input[type="text"] {
    border: 0.1em solid black;
    background-color: rgb(247, 242, 235);
}

hr {
    clear: both;
}

#validar {
    float: right;
}